<div id="update-container" class="cad-container">
    <div id="update-file" class="cad-file">
        <div id="update-page" class="cad-page">
            <header id="update-header">
                <h1>Dados do professor</h1>
            </header>
            <form id="update-form">
                <p>Nome</p>
                <div class="div-input">
                    <input id="update-fname" class="form-input" type="text" placeholder="Nome completo do professor"/>
                </div>
                <p>E-mail</p>
                <div class="div-input">
                    <input id="update-email" class="form-input" type="text" placeholder="email.professor@exemplo.com"/>
                </div>
                <p>Data de nascimento</p>
                <div class="div-input">
                    <input id="update-data" class="form-input" type="text" placeholder="dd/mm/aaaa"/>
                </div>
                <p>Senha</p>
                <div class="div-input">
                    <input id="update-password" class="form-input" type="text"/>
                </div>
                <p>Confirmar senha</p>
                <div class="div-input">
                    <input id="update-cpassword" class="form-input" type="text"/>
                </div>
            </form>
        </div>
        <div  class="div-longButton">
            <button class="long-button">Cadastrar</button>
        </div>
    </div>
</div>