<div id="title-adm">
  <div class="header-container">
    <h1>Sistema para identificação precoce de características</h1>
  </div>
  <div id="select-container" class="cad-container">
    <div id="select-file" class="cad-file">
      <form>
        <div class="cad-page">
          <div class="div-slectUser">
            <div class="slect-user">
              <a href="/update">A</a>
            </div>
          </div>
          <header>
            <h1>Selecione uma opção</h1>
          </header>
          <div class="list-option">
            <div id="list-student" class="select-acc">
              <a href="/list-professors">Listar professores</a>
            </div>
            <div id="reg-student" class="select-acc">
              <a href="/register">Cadastrar professores</a>
            </div>
          </div>
          <div class="div-shortButton">
            <button class="short-button" (click)="logOut()">Sair</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
